body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #fff;
  color: #333;
}

nav {
  background: linear-gradient(to right, #ff9933, #ffffff, #138808);
  color: #222;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

nav a {
  color: #222;
  text-decoration: none;
  font-weight: 600;
}

nav a.active, nav a:hover {
  color: #0a662e;
  border-bottom: 2px solid #0a662e;
}

.home {
  text-align: center;
  padding: 60px 20px;
}
.login-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.card {
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



.banner {
  width: 70%;          
  max-width: 500px;     
  height: auto;         
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.2); 
}
.vote-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.vote-btn:hover {
  background-color: #0056b3;
}

.success-container {
  text-align: center;
  margin-top: 150px;
}

.success-container h2 {
  color: green;
  font-size: 2rem;
}

.success-container .btn {
  background: #007BFF;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}



.btn {
  background: #138808;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #0a662e;
}

.form-container {
  width: 320px;
  margin: 100px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.form-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.card {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background: #f4f4f4;
  color: #222;
  border-top: 3px solid #138808;
}

